*{
    margin:0;
    padding:0;
}
 /* with asbulote on body */


html, body {
    height :100%;
    width  :100%;
    overflow-y: hidden; 
    overflow-x: hidden; 
    
}   
#container{
    display:inline-block;
    height:100%;
    width:100%;
    /*background-image: url("dory1.png");*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    
}
#left{
    height:100%;
    float:left;
    width:50%;
}
#right{
    margin-top:-111%;
    margin-left:50%;
    height:300%;
    float:left;
    width:300%;
    border-radius: 50%;
    background:white;
    
}
#next{
    margin-right: 3%;
    margin-top: 77%;    
    position: fixed;
    right: 0px;
    z-index: 5;
    top: -50%;
    -webkit-transform: scaleX(-1);
}

#back{
    margin-right: 93%;    
    margin-top: 77%;    
    position: fixed;
    right: 0px;
    z-index: 5;
    top: -50%;
}
#text{
    font-size: 1.5em;
    width:40%;
    position: absolute;
    right: 1%;
    z-index: 5;
    top: 50%;
    transform: translateY(-50%);
}
#overlay{

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */

}
#splashModal{
    display: block;
    background-image: url("./img/splash.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#endModal{
    display: block;
    background-image: url("./img/endsplash.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#game1modal{
    width: 100%;
    height: 100%;
    background: white;
}
#decisionModal{
    position: fixed; /* Stay in place */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    background-image: url("./img/dorysplit.png");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#decisionA{
    position:absolute;
    width:100%;
    height:50%;
}
#decisionB{
    position:absolute;
    width:100%;
    height:50%;
    margin-top: 28%;
}
/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
