
<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
<script src="dev.js"></script>
<link rel="stylesheet" href="stylesheet.css">

<body>
    <div class="container" ng-app="myApp" ng-controller="myCtrl">
        <div class="row">
            <div ng-repeat="x in parsedData" class="col-sm-4">
                <div class="card">
                    <figure style="background-image: url({{x.img}})"></figure>
                    <div class="textArea">
                            <!-- <span class="poster">{{x.poster}}</span> -->
                            <span class="artist">{{x.artist}}</span>
                            <span class="artist">{{x.credit}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


<!-- <div ng-app="myApp" ng-controller="myCtrl">
        <div ng-repeat="x in parsedData">
            {{x.poster}}
            {{x.id}}
            {{x.likes}}
            {{x.source}}
            {{x.artist}}
            {{x.credit}}
            {{x.reff}}
            <div id="{x.poster}">
                <img ng-src="{{x.img}}" alt="Mountain View">
            </div>
        </div>

    </div>
</div> -->