
:root {
    --yellow: #b747a9;
}

html {
    color: #444;
    font-family: Cambria, Cochin, Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
}

p {
    line-height: 1.8;
}

img {
    max-width: 100%;
}

a {
    color: #b747a9;
}

h1,
h2 {
    font-size: 80px;
    font-style: italic;
    font-weight: 100;
    margin: 0;
}

.post {
    display: grid;
    max-width: 1000px;
    margin: 200px auto;
    grid-gap: 10px 50px;
    grid-template-columns: 3fr 12fr 5fr;
}

.post>* {
    grid-column: 2 / -2;
}

.post>figure {
    margin: 0;
    grid-column: 1 / -1;
}

figcaption {
    font-size: 10px;
}

.post>blockquote {
    grid-column: 1 / -1;
    font-size: 60px;
    font-style: italic;
    text-align: center;
    margin: 0;
}

.tip {
    background: #FAFAFA;
    padding: 10px;
    grid-row: span 5;
    align-self: start;
}

.tip-left {
    grid-column: 1 / span 1;
    text-align: right;
    border-right: 2px solid var(--yellow);
}

.tip-right {
    grid-column: span 1 / -1;
    border-left: 2px solid var(--yellow);
}

.codeblock{
    grid-column: 1 / -1;
    font-size:15px
}
.custom-highlighter{
    background-color:#de7cd2
}
figure.center{
    grid-column: 2;
    text-align: center;
  }

  img.force-width {
    width: 100%;
}
.custom-bold{
    color:purple;
    font-weight: bold;
}